*{
    background: rgb(203, 222, 243);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    max-width: 1050px;
}

.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}


.text-area {
    resize: none;
    border-radius: 24px;
    color: #0A3871;
    margin-top: 90px;
    text-transform: unset;
    margin-left: 20px;
    width: 650px;
    height: 385px;
}

::placeholder { color: #0A3871;}
    .text-area:focus {
        outline: none;
    }

.informacoes {
    color: #495057;
    font-size: 18px;
}

.mensagem {
    resize: none;
    background: white;
    background-image: url(/img/boneco.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 82px;
    padding-left: 20px;
    width: 336px;
    height: 517px;
    position: fixed;
}

.btn-desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-copiar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 530px;
    position: absolute;
    width: 336px;
}


.nome-desenvolvedor {
    text-align: center;
    font-size: 20px;
    color: #0A3871;
}

.redesociais {
    cursor: pointer;
    font-size: 25px;
    text-align: center;
}
